In [1]:
#Importing librairies

#Data Transformation
import pandas as pd
import numpy as np

#Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

## Opening the data

In [2]:
#Link to the dataset
url="https://dax-cdn.cdn.appdomain.cloud/dax-airline/1.0.1/airline_2m.tar.gz"

#Generate a DataFrame form a tar.gz file
df = pd.read_csv(url, compression='gzip', encoding='ISO-8859-1', parse_dates=['FlightDate'], dtype={'Div1Airport': str, 'Div1TailNum': str, 'Div2Airport': str, 'Div2TailNum': str})

#Correcting the name of the first column
df.rename(columns={'airline_2m.csv': 'Year'}, inplace=True)

#Show the 5 first lines of the dataset
df.head(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1998.0,1.0,1.0,2.0,5.0,1998-01-02,NW,19386.0,NW,N297US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009.0,2.0,5.0,28.0,4.0,2009-05-28,FL,20437.0,FL,N946AT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013.0,2.0,6.0,29.0,6.0,2013-06-29,MQ,20398.0,MQ,N665MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010.0,3.0,8.0,31.0,2.0,2010-08-31,DL,19790.0,DL,N6705Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006.0,1.0,1.0,15.0,7.0,2006-01-15,US,20355.0,US,N504AU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.tail()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
1999996,1999.0,1.0,1.0,5.0,2.0,1999-01-05,CO,19704.0,CO,N14308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999997,2003.0,4.0,11.0,14.0,5.0,2003-11-14,US,20355.0,US,N528AU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999998,2012.0,2.0,5.0,15.0,2.0,2012-05-15,WN,19393.0,WN,N281WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999999,2003.0,2.0,4.0,29.0,2.0,2003-04-29,UA,19977.0,UA,N364UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000000,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#First look into the dataset
print("Shape:", df.shape, "\n"
      "Duplicated:", df.duplicated().sum(), "\n"
      "Null:", (df.isnull().sum(axis=1) == df.shape[1]).sum())

Shape: (2000001, 109)
Duplicated: 0
Null: 1

In [5]:
#Save the file to pickle to future use
df.to_pickle('airline_carrier_performance_dataset')